In [11]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [63]:
n = 3
cities = ["Jeju", "Pangyo", "Seoul", "NewYork", "LA", "Jeju", "Pangyo", "Seoul", "NewYork", "LA"]

arr = [cities[i] for i in range(3)]
extime = 5*n
seqidx = list(range(n))

arr
extime
seqidx

['Jeju', 'Pangyo', 'Seoul']

15

0

[0, 1, 2]

In [44]:
def shift(l, innum):
    del l[l.index(innum)]
    l.append(innum)
    return l

In [45]:
a = [1,2,3]
a[1:] + [1]
a
shift(a, 2)

[2, 3, 1]

[1, 2, 3]

[1, 3, 2]

In [48]:
shift(seqidx, 0)
shift(seqidx, 2)
arr
arr.index('Jeju')

[1, 2, 0]

[1, 0, 2]

['Jeju', 'Pangyo', 'Seoul']

0

In [56]:
cities[n:]

7

In [66]:
cities = ["Jeju", "Pangyo", "Seoul", "NewYork", "LA", "Jeju", "Pangyo", "Seoul", "NewYork", "LA"]
cities = [ i.lower() for i in cities]
cities

['jeju',
 'pangyo',
 'seoul',
 'newyork',
 'la',
 'jeju',
 'pangyo',
 'seoul',
 'newyork',
 'la']

------------------------------

In [72]:
n = 3
cities = ["Jeju", "Pangyo", "Seoul", "NewYork", "LA", "Jeju", "Pangyo", "Seoul", "NewYork", "LA"]
cities = [ i.lower() for i in cities]

extime = 5*n

if n==0: 
    extime = 5*len(cities)
    #return answer

arr = [cities[i] for i in range(3)]
seqidx = list(range(n))

arr
extime
seqidx

['jeju', 'pangyo', 'seoul']

15

[0, 1, 2]

In [ ]:
len(cities)

In [73]:
def shift(l, innum):
    del l[l.index(innum)]
    l.append(innum)
    return l


for i in cities[n:]:
    if i in arr:
        print('in '+i)
        seqidx = shift(seqidx, arr.index(i))
        print(seqidx)
        extime += 1
    else:
        print('not '+i)
        arr[seqidx[0]] = i
        seqidx = shift(seqidx, seqidx[0])
        print(seqidx)
        print(arr)
        extime += 5
        
extime

not newyork
[1, 2, 0]
['newyork', 'pangyo', 'seoul']
not la
[2, 0, 1]
['newyork', 'la', 'seoul']
not jeju
[0, 1, 2]
['newyork', 'la', 'jeju']
not pangyo
[1, 2, 0]
['pangyo', 'la', 'jeju']
not seoul
[2, 0, 1]
['pangyo', 'seoul', 'jeju']
not newyork
[0, 1, 2]
['pangyo', 'seoul', 'newyork']
not la
[1, 2, 0]
['la', 'seoul', 'newyork']

50

In [107]:
def shift(l, innum, delT=True):
    if delT:
        del l[l.index(innum)]
    l.append(innum)
    return l

def solution(cacheSize, cities):
    cities = [ i.lower() for i in cities]
#     answer = 5*cacheSize
    answer = 0
    
    if cacheSize==0: 
        answer = 5*len(cities)
        return answer
        
#     arr = [cities[i] for i in range(cacheSize)]
    arr = []
    seqidx = []
    
    for i in cities:
        delT = True
        print(i)
        print(seqidx)
        if len(seqidx) < cacheSize:
                delT = False
                
        if i in arr:
            seqidx = shift(seqidx, arr.index(i))
            answer += 1
        else:
            if len(arr) == cacheSize: 
                arr[seqidx[0]] = i
            else:
                arr.append(i)
            if len(seqidx) < cacheSize:
                seqidx = shift(seqidx, len(seqidx), delT)
            else:
                seqidx = shift(seqidx, seqidx[0], delT)
            answer += 5
        print(answer)
    return answer

In [109]:
solution(2,["Jeju", "Pangyo", "NewYork", "newyork"])

jeju
[]
5
pangyo
[0]
10
newyork
[0, 1]
15
newyork
[1, 0]
16

16